<h1 style="text-align:center;">전송되었습니다.</h1>

<h1 style="text-align:center;">받는사람은</h1>
<div style='text-align:center;'><h2><%= @apple %></h2></div>

<h1 style="text-align:center;">무엇을</h1>
<div style="text-align:center;"><h2><%= @banana %></h2></div>

<h1 style="text-align:center;">왜</h1>
<div style="text-align:center;"><h2><%= @cherry %></h2></div>

<div style="text-align:center;"><h1><a href="/">처음으로 돌아가기</a></h1></div>